
::before
::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.map-container {
    position: relative;
    width: 1500px;
    height: 2000px;
    background-image: url('D7 map.png'); 
    background-size: cover;

  }

  .marker {
    position: absolute; /* Định vị tương đối so với .map-container */
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
  }

  .marker-1 {
    top: 50px;
    left: 100px;
  }
  
